venv/*
*.pyc
*.NEF
*.DS_Store
*.token
*.log
*.pem
albumCache.json
albumPhotoMapCache.json
photoCache.json
google_secret_desktop*
google_web_secret.json
experiments/GoogleOauth/googleenv/*
albumProcessStatus.json
photoTask.json
similarPhoto.json
userProcessCache.json
userTask.json
server/env/*