{% extends "base.html" %}
{% block header %}
    <h1>
        {% block title %}
            Albums
        {% endblock title %}
    </h1>
{% endblock header %}
{% block content %}
    {% for albumName in albums %}
        <ul>
            <li>
                <form method="post">
                    {{ albumName }}
                    <input type="hidden" name="albumName" value={{ albumName }} />
                    <input type="hidden" name="albumId" value={{ albums[albumName] }} />
                    <input type="submit" value="Scan for similar images" />
                </form>
            </li>
        </ul>
    {% endfor %}
{% endblock content %}
